<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <h1>Disable a category</h1>
      <form method="post" action="/new_user">
         <label for="username">Enter name user:</label><br>
         <input type="text" id="username" name="username">
         <input class="submit" type="submit" value="Submit">

          <label for="password_hash">Enter age user:</label><br>
         <input type="text" id="password_hash" name="password_hash">
         <input class="submit" type="submit" value="Submit">
      </form>
   </body>
</html>